<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>

  <body>
    <div class="area"></div><nav class="main-menu">
      <ul>
          <li>
              <a href="http://justinfarrow.com">
                  <i class="fa fa-home fa-2x"></i>
                  <span class="nav-text">
                      Dashboard
                  </span>
              </a>
            
          </li>
          <li class="has-subnav">
              <a href="/profile">
                  <i class="fa fa-laptop fa-2x"></i>
                  <span class="nav-text">
                      Profile
                  </span>
              </a>
              
          </li>
        
          <li class="has-subnav">
              <a href="/projet">
                 <i class="fa fa-folder-open fa-2x"></i>
                  <span class="nav-text">
                      Projets
                  </span>
              </a>
             
          </li>
          <li class="has-subnav">
              <a href="#">
                 <i class="fa fa-list fa-2x"></i>
                  <span class="nav-text">
                      Backlog Produit
                  </span>
              </a>
              
          </li>
          <li>
              <a href="#">
                  <i class="fa fa-bar-chart-o fa-2x"></i>
                  <span class="nav-text">
                     Sprint
                  </span>
              </a>
          </li>
         
          <li>
             <a href="#">
                 <i class="fa fa-table fa-2x"></i>
                  <span class="nav-text">
                      Taches
                  </span>
              </a>
          </li>
          <li>
            <a href="#">
                 <i class="fa fa-user fa-2x"></i>
                 <span class="nav-text">
                     Membres
                 </span>
             </a>
         </li>
  </ul>

      <ul class="logout">
          <li>
            <a href="" (click)="logout()">
                   <i class="fa fa-power-off fa-2x"></i>
                  <span class="nav-text">
                      Logout
                  </span>
              </a>
          </li>  
      </ul>
  </nav>
  </body>
</div>
