<!--Trigger-->
<!--<a class="login-trigger" href="#" data-target="#login" data-toggle="modal">Add User Story</a>

<div id="login" class="modal fade" role="dialog">
  <div class="modal-dialog">
    
    <div class="modal-content">
      <div class="modal-body">
        <button data-dismiss="modal" class="close">&times;</button>
        <h4>Add User Story</h4>
        <form #loginform="ngForm" (ngSubmit)="ajouterTache()">
            <small class="txt-danger">{{msg}}</small>
          
          <input type="text" name="title" class="title form-control"  placeholder="Title"  [(ngModel)]="tache.title"/>
          <input type="text" name="description" class="password form-control" placeholder="password" [(ngModel)]="tache.description" />
          <input type="date" name="datedebut" class="password form-control" placeholder="date debut"  [(ngModel)]="tache.datedebut" />
          <input type="date" name="datefin" class="password form-control" placeholder="date fin" [(ngModel)]="tache.datefin" />
          <input class="btn tache" type="submit" value="Login" />
        </form>
      </div>
    </div>
  </div>  
</div>
-->